<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/f6ba863e-4d9a-4d31-9d02-e40c0979a730/resourceGroups/VisualStudioOnline-5E8B09F218374F3083F85ACBBC1A1D6B/providers/Microsoft.Web/sites/ZeegetWebapi</ResourceId>
    <ResourceGroup>VisualStudioOnline-5E8B09F218374F3083F85ACBBC1A1D6B</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://zeegetwebapi-bfbucggqa8bdd3gc.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7c7d6f2b-2d3f-4df7-b8e5-398e04183f30</ProjectGuid>
    <PublishUrl>https://zeegetwebapi-bfbucggqa8bdd3gc.scm.eastus-01.azurewebsites.net/</PublishUrl>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAPinfTS5RKU2Vq2W05OUKKwAAAAACAAAAAAAQZgAAAAEAACAAAACI9QiM3sSYw/s+KlKIB8jFenF+iDsZiaMG54waWvbTGAAAAAAOgAAAAAIAACAAAADs75WhiosDDJZIFi6+biBSSH4SMq7SHAx8FYizOFQ3bSAAAAAuCTHgzvL55scEN8nhhAKJGgijxIcflwugDfFuwBpDTkAAAADCjXj379GkJLhy7kJSWrbLIl/SC4BcXwRO8qRW+ttO9MGLiUtlO2AuXyJOzRwlBbAV1PWaMX7eHldNrKqq1EQw</EncryptedPassword>
    <History>False|2024-09-02T14:52:13.6217465Z;False|2024-09-02T15:47:59.9392539+01:00;False|2024-09-02T15:46:43.1035637+01:00;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>